<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Asistencias registradas</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/asistencia_tabla.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}" async></script>
</head>

<body>
    <header>
        <div class="logo_header">
            <img src="../static/img/logo.png" alt="logo">
            <p>StudentSafety</p>
        </div>
        <div class="home-buttons">
            <a href="/reportes_asistencias" class="btn-primary">Descargar Asistencia</a>
            <a href="/generador_qr" class="btn-secondary">Generar QR</a>
            <a href="javascript:history.back()">Atrás</a>
        </div>
    </header>
    <table border="1">
        <h1>Asistencias del grupo</h1>
        <thead>
            <tr>
                <th>Fecha y Hora de ingreso</th>
                <th>Nombre completo</th>
                <th>Grado</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            {% for a in asistencias %}
            <tr>
                <td>{{ a.fechaHora }}</td>
                <td>{{ a.nombres_persona }} {{ a.apellidos_persona }}</td>
                <td>{{ a.grado_grupo }}</td>
                <td>{{ a.nombres_directriz }} {{ a.apellidos_directriz }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br><br>
    <footer>
        <p>&copy; 2025 StudentSafety. Todos los derechos reservados.</p>
    </footer>
</body>

</html>