<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Escáner QR | StudentSafety</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qr_asistencia.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" async></script>
</head>

<body>
    <header>
        <div class="logo_header">
            <img src="../static/img/logo.png" alt="logo">
            <p>StudentSafety</p>
        </div>
        <div class="home-buttons">
            <a href="/admin_qr" class="btn-primary">Área Administrativa</a>
            <a href="/registro" class="btn-secondary">Registro</a>
            <a href="javascript:history.back()">Atrás</a>
        </div>
    </header>

    <main>
        <h2>Registra tu Asistencia📄</h2>
        <div id="reader"></div>
        <div id="result"></div>
    </main>

    <footer>
        <p>&copy; 2025 StudentSafety. Todos los derechos reservados.</p>
    </footer>
</body>

</html>