<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reportes de Asistencias - StudentSafety</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documento_excel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <header>
        <div class="logo_header">
            <img src="../static/img/logo.png" alt="logo">
            <p>StudentSafety</p>
        </div>
        <div class="home-buttons">
            <a href="javascript:history.back()">Atrás</a>
        </div>
    </header>
    <br>
    <h1>Bienvenido/a, {{ nombre_admin }}</h1>
    <h3>📊 Reporte de Asistencias</h3>


    <form method="POST" action="/descargar_asistencias">
        <p>Selecciona un grado para descargar el informe en Excel:</p>
        <label for="grado_id">Grado y Grupo:</label>
        <select name="grado_id" id="grado_id" required>
            {% for g in grados %}
            <option value="{{ g.id_grado_grado }}">
                Grado {{ g.grado_grupo }} - Dirigido por {{ g.director }}
            </option>
            {% endfor %}
        </select>
        <button type="submit"> Descargar Excel</button>
    </form>


    <footer>
        <p>&copy; 2025 StudentSafety. Todos los derechos reservados.</p>
    </footer>
</body>

</html>